@layer base {
  @font-face {
    font-family: '"Glimer"';
    src: url(../src/font/ClashDisplay-Regular.ttf) format("ttf");
  }
}
.rt {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 100px -28px inset;
  
  box-shadow: rgba(0, 0, 0, 1) 0px 0px 100px 50px inset;
}
.btn{
  background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
                radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
}
* {
  font-family: "catalpa", sans-serif;
  font-weight: 200;
  font-style: normal;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
